Repository technocrats-robotics/techno-quiz, pull requests merged in 2022-07, with the labels that each got.

#38 [Update]: Changed Implementation for `ScheduleQuiz`
  app/http/controllers/auth.js
  app/http/controllers/question.js
  client/src/app/services/api.js
  client/src/components/Admin/Quiz/ScheduleQuiz copy.js
  client/src/components/Admin/Quiz/ScheduleQuiz.js
  client/src/pages/ModifyDeptQuiz.js
  client/src/pages/ScheduleQuiz.js
  routes/api.js
  todo.txt
Labels: priority: high, admin-panel

#54 Fix: Pre save hook modified to run only once during registration
  app/http/controllers/answer.js
  app/http/controllers/auth.js
  app/http/controllers/evaluate.js
  app/http/controllers/question.js
  app/http/controllers/quiz.js
  app/models/user.js
  routes/api.js
  todo.txt
Labels: 🔥 priority: high, 👍 approved, 🧑‍💻 backend

#55 fix: fixed user logout not functional
  client/src/components/User/Sidebar.js
Labels: 👍 approved, 🙎 user-panel
